.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    margin: 10vh auto 0 auto;
    height: 80%;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    border: 0.2px solid #000000;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: grey;
    color: white;
}
